<nav class="navbar">
    <a class="navbar-brand">BurgerQueen</a>
    <div class="navbar p-4">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link p-2" routerLink="/viewchef/pending-order" >P. PENDIENTES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-2" routerLink="/viewchef/order-finished" >P. FINALIZADOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-2">SALIR</a>
        </li>
      </ul>
    </div>

  </nav>
