<div class="bdcontainer">
    <div class="border-app">
        <app-navbar></app-navbar>
        <div class="container">
            <div class="card color-card">
            <div class="card-body">
            SELECCION DEL MENU
            </div>
            <div>
                <select id="product" name="product" (change)="filteredMenu($event)" >
                    <option disabled selected>Turno</option>
                    <option value="dia">Dia</option>
                    <option value="tarde">Tarde</option>
                </select>
            </div>
            </div>
    
            <section class="container-fluid product">
                <div class="row p-1">
                    <div class="col-md-3 p-1"  *ngFor="let product of menu">
                        <div class="card text-center">
                            <div class="card-body">
                                <p class="card-text">{{product.data.nombre}}</p>
                                <p class="card-text">S/{{product.data.precio}}</p>
                                <button class="btn btn-danger btn-md" (click)="addOrder(product.id, product.data)">Añadir</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    
            <section >
            <div class="card color-card">
                <div class="card-body">
                    <p>DETALLE DE LA ORDEN</p>
    <!-- 
                    <label>Cliente</label>
                    <input type="text" >
    
                    <label>Mesero</label>
                    <input type="text" >
    
                    <label>Mesa </label>
                    <input type="text" > -->
    
                </div>
            </div>
    
            <table class="table table-hover text-center">
                <thead>
                <tr>
                    <th scope="col">CANT.</th>
                    <th scope="col">ITEM</th>
                    <th scope="col">PRECIO</th>
                    <th scope="col">ElIMINAR</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of order">
                    <th scope="row align-items-center">
                        <button (click)="changeAmount(base,item)" class="col">+</button>
                        <p class="col">{{item.amount}}</p>
                        <button (click)="changeAmount(-base,item)" class="col">-</button>
                    </th>
                    <td>{{item.data.nombre}}</td>
                    <td>S/{{item.data.precio}}.00 </td>
                    <td>
                        <button (click)="deleteItem(item)">
                            eliminar
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
    
            <div class="row">
                <div class="col-sm-12 text-center">
                    <button class="btn btn-primary btn-md">ENVIAR</button>
                    <button class="btn btn-danger btn-md" (click)="cancelOrder()">CANCELAR</button>
                </div>
            </div>
            </section>
        </div>
    </div>

</div>