<nav class="navbar navbar-shadow">
      <a class="navbar-brand">BurgerQueen</a>
      <div class="navbar p-4">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link p-2" routerLink="/viewserver/take-order" >REALIZAR PEDIDO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-2" routerLink="/viewserver/status-order" >PEDIDOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-2" routerLink="/login">SALIR</a>
          </li>
        </ul>
      </div>

    </nav>
